<div id='cssmenu'>
	<!-- Header Image Starts -->
	<div style="background-image: url('assets/grass1.png');background-size: 100% 30%; background-repeat: no-repeat;background-position: bottom;">
		<img src="assets/batsmanCartoon.png" style="margin-left: 10%">
		<img src="assets/bowlerCartoon.png" style="float: right;margin-right: 10%;">
	</div>
	<!-- Header Image Ends -->
	<!-- Menu Starts --> 
	<ul>
	   <li class='active'><a href='#'>Home</a></li>
	   <li><a href='#' data-toggle="modal" data-target="#scoring">Scoring</a></li>
	   <li><a href='#'>Company</a></li>
	   <li><a href='#'>Contact</a></li>
	   <li style="float: right;"><a href='#' data-toggle="modal" data-target="#login">Login</a></li>
	   <li style="float: right;"><a href='#' data-toggle="modal" data-target="#signup">Sign Up</a></li>
	</ul>
	<!-- Menu Stops -->
</div>
<app-signup></app-signup>
<app-login></app-login>
<app-scoring></app-scoring>