.fullscreen {
    min-width: 98%;
    height: 95%;
    margin-top: 1%;
}

.fullscreenheight {
    height: 100%;
}

.input-group .span-between{
    padding-top: 0.50%;
    padding-left: 0.25%;
    padding-right: 0.25%;
}

.input-group-prepend {
    background-color: #edc215 !important;
}

.team-player-one{
    border: 1px solid red;
    width: 50%;
    height: 400px;
    float: left;
    text-align: center;
}

.team-player-two{
    float: left;  
  
}


