<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document" >
		<div class="modal-content signupbox">
			<div class="modal-header">
        		<h4 class="heading"><strong>Login</strong></h4>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
      			<div>
					<h4>
						<b>User Name</b>
					</h4>
					<input type="text">
					<h4>
						<b>Password</b>
					</h4>
					<input type="Password" name="pass">
				</div>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        		<button type="button" class="btn btn-success">Login</button>
        		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup" data-dismiss="modal">Sign Up</button>
      		</div>
    	</div>
  	</div>
</div>
