<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content signupbox">
      <div class="modal-header">
        <h4 class="heading"><strong>Sign Up</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <div class="modal-body">
         <div>
					<h4>
					<b>Name</b>
					</h4>
					<input type="text">
					<h4>
					<b>Email</b>
					</h4>
					<input type="text">
					<h4>
					<b> Create Password</b>
					</h4>
					<input type="Password" name="pass">
					<h4>
					<b>Repeat Password</b>
					</h4>
					<input type="Password" name="pass">
					<br/>
					<input type="checkbox"> <span style="color: white;">Remember me</span>
          </div>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        		<button type="button" class="btn btn-success" data-target="#login" data-toggle="modal" data-dismiss="modal">Login</button>
        		<button type="button" class="btn btn-primary">Sign Up</button>
      		</div>
    	</div>
  	</div>
</div>
